body{
	padding: 60px 0 40px 0;
}
p{
font-family: Arial, Helvetica, sans-serif;
font-size:1.2em;
line-height: 1.5;
text-align:justify;
}
facebook
{
color: blue;
text-transform: uppercase;
font-style: italic;
}
asetin
{
font-weight: bold;
text-transform: uppercase;
}
a:link {
color: #0000FF;
}
a:visited {
color: #0000FF;
}
a:hover {
color: #0000FF;
text-decoration: underline;
}
a:active {
color: #333333;
}
@font-face {
    font-family: 'TenbyFiveRegular';
    src: url('tenbyfive_regular_french/tenby-five-webfont.eot');
    src: url('tenbyfive_regular_french/tenby-five-webfont.eot?#iefix') format('embedded-opentype'),
         url('tenbyfive_regular_french/tenby-five-webfont.woff') format('woff'),
         url('tenbyfive_regular_french/tenby-five-webfont.ttf') format('truetype'),
         url('tenbyfive_regular_french/tenby-five-webfont.svg#TenbyFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
			
}

.sous_image
{
font-family: TenbyFiveRegular;
text-align: center;
}
.petille
{
text-decoration: blink;
}
.facebook
{
color: #ffffff;
}